body {
  /* Aquí agregamos la imagen de fondo */
  background-image: url(imagenes/FONDO\(1\).jpeg); /* Reemplaza con la ruta de tu imagen */
  background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  font-family: 'Arial', sans-serif;
}

/* El contenedor del formulario sigue con su color de fondo blanco */
.form-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.form-title {
  text-align: center;
  color: #19c12f;
  margin-bottom: 20px;
}

.submit-btn {
  background-color: #28a745;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border-radius: 5px;
}

.submit-btn:hover {
  background-color: #218838;
}

